<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
       <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-item tappable routerLink="/change-password" routerDirection="backward" lines="none">
          <ion-icon name="lock-open-outline" slot="start"></ion-icon>
           Change Password
  </ion-item>
   <ion-item tappable routerLink="/login" routerDirection="root" lines="none">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
           Sign Out
    </ion-item>
  </ion-content>
  